/*GENERIC STYLES*/
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9cm;
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .5cm;
    text-align: center;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .6cm;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .5cm;
    text-align: center;
}

.container {
    background-color: rgb(187, 150, 116);
    border-radius: 7px;
    padding-top: -1px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 20px;
}

iframe {
    margin: auto;
    padding-left: 330px;
}

nav {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

a {
	text-decoration: none;
	color: black;
}

/*GALLERY STYLES*/
.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 7px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(120, 120, 83);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7)
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 350px;
    height: 200px;
    display: inline-flex;
}

.photo-container img {
    max-width: 100%;
    width: 350px;
    height: 200px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
}

.photo-overlay {
    color: #ffffff;
    background-color: rgba(129, 122, 122, 0.644);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items:center;
    text-align: center;
    line-height: .45cm;
    background: rgba (0,0,0,0.5);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
}

.row > .column {
    padding: 0 8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/*creates 4 columns that float next to each other*/
.column {
    float: left;
    width: 25%;
}

/*The background*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* modal content*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/*the close button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*hides the slides b default*/
.mySlides {
    display: none;
}

/*next and prev buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6secs ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*position the next button to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*on hover add a black background, slightly see through*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*number text*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*caption text*/
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    width: 25%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.active,
.demo:hover {
    opacity: 1;
}

.img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*transitions*/
.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity:1;
}

.photo img {
    transition: transform .9s;
    transform-origin: 50%;
    box-shadow: inset 2px 2px 10px 0 rgba(0, 0, 0, .5);
}

.photo:hover img {
    transform: scale(1.1)
}

/*FORM STYLES*/
.contact-form form {
    font-size: .39cm;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 12px 12px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.contact-form input [type="text"] {
    font-size: .42cm;
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rsvp {
    width: max-content;
    height: max-content;
    margin: 2px;
    border: 1px solid ;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    background-color: rgb(196, 196, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .42cm;
}

/*FOOTER STYLE*/
.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}
